#toolbox-container {
    min-width: 870px;
    max-width: 1024px;
}

#toolbox-logo {
    left: 24px;
    width: 400px;
}

#current-versions-content {
    padding: 0 24px 24px 24px;
    height: 50px;
    clear: both;
}

#current-product-version {
    float: left;
}

#current-sdk-version {
    float: right;
}

.infographic-container {
    width: 425px;
    height: 40px;
}

.info-container {
    margin: 8px;
}

.current-version {
    float: right;
    font-size: 24px;
    font-weight: bold;
}

.using-version {
    font-size: 16px;
    font-weight: bold;
}

#developer-tools-content {
    padding: 0 48px 24px 24px;
    clear: both;
}

#developer-tools-container {
    background: #F0F0F0;
    border-top: 1px solid #BBB;
    padding: 6px 10px;
}

#developer-tools-container a.active {
    background: #D8E4F0;
}

#toolbox-content {
    color: #173964;
    margin: 24px auto 0 24px;
}

#toolbox-content-table {
    width: 100%;
}

#toolbox-content-table h2 {
    font-size: 23px;
    height: 27px;
}

p.toolbox-link {
    font-size: 19px !important;
    font-weight: normal;
    font-family: Arial, FreeSans, Helvetica, sans-serif;
    margin-top: 16px;
}

#toolbox-content-table td {
    width: 50%;
    vertical-align: top;
}

#toolbox-content .triangle {
    margin-right: 10px;
}

.docs-list {
    display: none;
    margin-top: 10px;
    margin-left: 0;

}
.docs-list > p {
    margin-left: 21px;
    font-size: 13px;
}

.docs-list > ul {
    margin-left: 21px;
    font-size: 13px;
}
