.dt-hidden {
    display:none;
}
.dt-clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
.dt-toolbar {
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    height:35px;
    background: #205081; /* Old browsers */
    /*background: -moz-linear-gradient(top,  #4a4a4a 0%, #333333 100%); *//* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4a4a4a), color-stop(100%,#333333)); *//* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top,  #4a4a4a 0%,#333333 100%); *//* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top,  #4a4a4a 0%,#333333 100%); *//* Opera 11.10+ */
    /*background: -ms-linear-gradient(top,  #4a4a4a 0%,#333333 100%); *//* IE10+ */
    /*background: linear-gradient(to bottom,  #4a4a4a 0%,#333333 100%); *//* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4a4a', endColorstr='#333333',GradientType=0 ); *//* IE6-9 */
    color:#fff;
    /*text-shadow: #333 1px 1px 0;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    width: 25px;
    overflow: hidden;
    opacity:.2;
    z-index:9999;
    border-radius:0 20px 20px 0;
    border-top:1px solid #2e3d54;
}
.dt-toolbar a {
    color:#999 !important;
    text-decoration: none !important;
}
.dt-toolbar a:hover {
    color: #fff !important;
}
.dt-brand {
    background:url(./images/devtoolbox-toolbar-icon.png) no-repeat 50% 8px;
    width: 18px;
    height: 20px;
}
.dt-brand span {
    display: none;
}
.dt-version {
    position:absolute;
    left:0;
    margin:5px 5px 5px 25px;
}
.dt-nav {
    padding:0;
    height: 34px;
    float: right;
    margin:0;
}
.dt-nav li {
    float:left;
    list-style-type: none;
    margin:0;
    padding:0;
}
.dt-nav li:hover {
    background: #3b73af;
}
.dt-nav li a {
    display:block;
    padding:12px;
    cursor: pointer;
}
.dt-mute {
    font-size:9px;
    color:#ccc;
}
.dt-expando {
    float:left;
    display: block;
    background: url(./images/expandos.png) no-repeat -15px 6px;
    height:35px;
    width:15px;
    margin:0 0 0 5px;
}
.dt-expando-expanded .dt-expando {
    background: url(./images/expandos.png) no-repeat 0 6px;
}
.dt-toolbar.dt-expando-expanded {
    opacity:1;
    width: 100%;
    -webkit-transition:opacity .2s ease-in;
    border-radius:0;
}
.dt-version, .dt-nav {
    display: none;
}
.dt-expando-expanded .dt-version,
.dt-expando-expanded .dt-nav {
    display:block;
}
.dt-menu {
    display: none;
    background:#fff;
    border:1px solid #ccc;
    border-bottom: 0;
    position:fixed;
    bottom:36px;
    right:0;
    z-index:99999;
    margin:0;
    padding:0;
    width:220px;
    box-shadow: rgba(0,0,0,.2) 0 0 3px;
    border-radius:3px 3px 0 0;
}
.dt-expand {
    display:block !important;
}
.dt-menu li {
    float: none;
    display: block;
    list-style-type: none;
    margin:0;
    padding:0;
}
.dt-menu li a {
    color: #333 !important;
    text-shadow: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.dt-menu .dt-divider {
    border-bottom:1px solid #ccc;
}
.dt-icon {
    height: 14px;
    width: 14px;
}
.dt-msg {
    position:fixed;
    bottom:-50px;
    right:10px;
    display:block;
    width:200px;
    padding:10px;
    border:1px solid #ccc;
    border-bottom:0;
    background:#ffc;
    font-size:12px;
    color:#333;
    border-radius:5px 5px 0 0;
    box-shadow: rgba(0,0,0,.2) 0 0 3px;
    opacity:0;
    z-index:9998;
}
#dt-highlight-i18n .dt-icon {
    background: url(./images/glyphicons-halflings-white.png) no-repeat;
    background-position: -312px -24px;
}
#dt-stash-web-fragments .dt-icon {
    background: url(./images/glyphicons-halflings-white.png) no-repeat;
    background-position: -240px -0px;
}
#dt-search-form {
    padding:7px;
}
.dt-search-box {
    border:0px;
    border-radius:10px;
    padding:3px 6px;
    width:200px;
    background:#ccc;
}
.dt-search-results {
    position:relative;
    display:none;
    background:#fff;
    border:1px solid #ccc;
    border-bottom: 0;
    position:fixed;
    bottom:36px;
    z-index:99999;
    margin:0;
    padding:0;
    width:320px;
    box-shadow: rgba(0,0,0,.2) 0 0 3px;
    border-radius:3px 3px 0 0;
}
.dt-search-results h3 {
    padding:5px;
    margin:0;
    text-shadow:none;
    border-bottom:1px solid #ccc;
}
.dt-search-results-list {
    padding:0;
    margin:0;
    max-height:400px;
    overflow-y:auto;
}
.dt-search-results-list li {
    float: none;
    display: block;
    list-style-type: none;
    margin:0;
    padding:0;
}
.dt-search-results-list h5 {
    padding:0;
    margin:0;
    font-size:12px;
    font-weight:normal;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.dt-search-results-list h5 b {
}
.dt-search-results-list li a {
    display:block;
    padding:7px 5px;
    margin:0;
    color: #333 !important;
    text-shadow: none;
}
.dt-search-results-list li:hover h5 {
    color:#fff !important;
}
.dt-search-results-list li:hover h5 b {
    color:#fff !important;
    background: transparent;
}
.dt-search-results p {
    padding:0;
    margin:0;
    text-shadow: none;
    color:#999;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.dt-search-results-list small {
    color:#999;
    font-size:10px;
    display:block;
    overflow:hidden;
    text-overflow:ellipsis;
}
.dt-search-scopes {
    padding:0;
    margin:0;
}
.dt-search-scopes a {
    display:inline !important;
    text-shadow:none;
}
.dt-tab {
    float:left;
}
.dt-tab a {
    display:block !important;
    margin:0 !important;
    padding:3px 5px !important;
}
.dt-tab-active {
    background:#3b73af;
    color:#fff;
}
.dt-tab-active a {
    color:#fff !important;
}
.dt-search-scope.dt-tab-active {
    color:#fff !important;
}
.dt-loader {
    position:absolute;
    top:47%;
    left:47%;
}